# Application Settings
APP_NAME="RAG-Chatbot"
ENVIRONMENT="development"
LOG_LEVEL="INFO"
LOG_FILE_PATH="logs/app.log"

# API Settings
API_V1_STR="/api/v1"
CORS_ORIGINS=["*"]

# Vector DB & Embeddings Settings
EMBEDDING_MODEL_NAME="all-MiniLM-L6-v2"
VECTOR_DB_DIR="app/storage/chroma_db"
COLLECTION_NAME="rag_documents"

# LLM Provider & Groq API Key
LLM_PROVIDER="groq"
GROQ_API_KEY=GROQ_API_KEY
GROQ_MODEL_NAME="llama-3.3-70b-versatile"

# Document Processing Defaults
DEFAULT_CHUNK_SIZE=500
DEFAULT_CHUNK_OVERLAP=50
