# Application Settings
APP_NAME="RAG-Chatbot"
ENVIRONMENT="development"
LOG_LEVEL="INFO"
LOG_FILE_PATH="logs/app.log"

# API Settings
API_V1_STR="/api/v1"
CORS_ORIGINS=["*"]

# Vector DB & Embeddings Settings
EMBEDDING_MODEL_NAME="all-MiniLM-L6-v2"
VECTOR_DB_DIR="app/storage/chroma_db"
COLLECTION_NAME="rag_documents"

# LLM Provider & Groq API Key
LLM_PROVIDER="groq"
GROQ_API_KEY=GROQ_API_KEY
GROQ_MODEL_NAME="openai/gpt-oss-120b"
LLM_MAX_TOKENS=1500
RAG_TOP_K=3


# Document Processing Defaults
DEFAULT_CHUNK_SIZE=1000
DEFAULT_CHUNK_OVERLAP=200
